@page "/chat/{username}"

<PageTitle>Chat Room</PageTitle>

<h2>Chat</h2>

    You are connected as <b>@username</b>
    
<hr />

<div id="scrollbox">
    <textarea class="input-lg" placeholder="Enter a message" autofocus ></textarea>
    <button class="btn" >Send</button>
</div>