@page "/chat/{username}"
@inject NavigationManager navManager

<PageTitle>Chat Room</PageTitle>

<h2>Chat</h2>

    You are connected as <b>@username</b>
    
<hr />

<div id="scrollbox">
        <div id="messagesList">
            @foreach (var message in messages)
            {
                if (ReceiveUser == username)
                {
                    <div style="text-align: left" > @message <div style="text-align: right"> @DateTime.Now</div></div>
                    
                }

                if (ReceiveUser != username)
                {
                    <div style="text-align: left"> @message <div style="text-align: right"> @DateTime.Now</div></div>
                }
            }
        </div>

    <textarea class="input-lg" placeholder="Enter a message" @bind="_message"  autofocus ></textarea>
    <button class="btn" @onclick="SendMessage" disabled="@(!Connected)">Send</button>
</div>